/* CSS LOADER */
.lds-hourglass {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-color: rgba(80, 89, 90, 0.645);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #eda820;
    border-color: #eda820 transparent #eda820 transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }

/* CARD CSS */

.card__container{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-color: #eda820;
  transition: 1s all ease-in-out;
}



  /* CSS LOGIN */

  .login {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  
  .form-login {
    width: 50vw; 
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--color-form-login);
  }

  /* card de productos */
  .CardProduct{
   
    z-index: 1;
  }

  .colCard{
     position: relative; 
    
     width: 18rem;
     
     height: 400px;
  }

  .btnBuy{
    /* position: absolute;
    bottom:  2rem; */
    position: absolute;
    right: 50px;
    bottom: 2rem;
    z-index: 2;
  } 

