/* CSS LOADER */
.lds-hourglass {
  display: inline-block;
  width: 100%;
  height: 100vh;
  background-color: rgba(80, 89, 90, 0.645);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #eda820;
  border-color: #eda820 transparent #eda820 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

/* Home */

.home{
padding-top: 100px;
margin-bottom: 50px;
}

/* CARD CSS */

.card__container{
width: 80%;
height: 80vh;
position: fixed;
z-index: 100;
background-color: #f6f8fc;
transition: 1s all ease-in-out;
margin-top: 90px;
display: flex;
flex-direction: column;
}

.card__container .card__close{
border-bottom: 1px solid rgb(158, 173, 158);
display: flex;
justify-content: space-between;
padding: 10px;
}

.card__container .card__close i{
font-size: 35px;
position: relative;
top: -8px;
right: -8px;
color: tomato;
cursor: pointer;
}

.card__container .card__products{
max-height: 312px;
overflow-y: scroll;
list-style: none;
padding: 0;
}

.card__container .card__products li{
border-bottom: 1px solid #00000052;
text-align: right;
}

.card__container .card__products p{
margin: 0;
}

.card__products .info__product-container{
display: flex;
justify-content: space-between;
align-items: flex-start;
margin-top: 20px;
overflow-x: hidden;
}

.card__products .info__product-container img{
height: 50px;
}

.btn__checkout{
  border-radius: var(--border-btn);
  box-shadow: var(--box-shadow-btn);
}

.info__product-container .input__group{
text-align: left;
width: 170px;
}

.info__product-container .input__group h3{
font-size: 10px;
}

.info__product-container .input__group input{
width: 50px;
text-align: center;
outline: none;
border: 1px solid #000;
background-color: transparent;
}

.info__product-container .input__group button{
border: 1px solid #000;
background-color: transparent;
width: 25px;
}

.card__products .info__product-container .bx{
font-size: 20px;
padding-right: 10px;
cursor: pointer;
color: tomato;
width: 20px;
}

.card__container .container__total{
position: absolute;
bottom: 0;
width: 100%;
display: flex;
flex-direction: column;
border-top: 2px solid #00000052;
}

.container__total .total__info{
display: flex;
justify-content: space-between;
padding: 10px;
}

.container__total .total__info span:nth-child(1){
font-weight: bold;
font-size: 20px;
}

.container__total button{
border: none;
margin: 5px;
padding: 5px;
background-color: rgb(27, 29, 27);
color: aliceblue;
transition: all 1s ease;
}

.container__total button:hover{
background-color: rgb(45, 47, 45);
}


/* CSS LOGIN */

.login {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  min-height: 100vh;
}

.form-login {
  width: 65vw; 
  display: grid;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-form-login);
}

.login p{
  font-size: 20px;
  font-weight: bold;
}

.btn__login{
  border-radius: var(--border-btn);
  box-shadow: var(--box-shadow-btn);
}

.btn__logOut{
  box-shadow: 2px 2px 10px #0000007e;
  border-radius: 14px;
}

/* card de productos */
.CardProduct{
 
  z-index: 1;
}

.colCard{
   position: relative; 
  
   width: 18rem;
   
   height: 400px;
}

.btnBuy{
  /* position: absolute;
  bottom:  2rem; */
  position: absolute;
  right: 50px;
  bottom: 2rem;
  z-index: 2;
  border-radius: var(--border-btn);
  box-shadow: var(--box-shadow-btn);
} 

/*purchases */

 .container-purchases{
  padding: 15px;
  padding-top: 90px;
  min-height: 100vh;
 } 

.table-purchases{
  margin: 1rem;
  margin-right: 1rem;
  border: 1px solid black;
  border-radius: 15px;
}

.input__purchases{
  border: 1px solid black;
  border-radius: 10px;
}
.container__img__purchases{
  height: 70px;
  width: 100px;
  padding: 5px;
}
.container__img__purchases img{
  object-fit:cover;
  height: 100%;
}
/*backHome*/

.backHome{
  display: flex;
  margin: 1rem;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.circule{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}


/*Detailt product*/

.container__detail{
  padding-top: 100px;
  min-height: 100vh;
  margin-bottom: 50px;
}

.btn__detail{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__detail button{
  border-radius: var(--border-btn);
  box-shadow: var(--box-shadow-btn);
}

.input__group__detail{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input__group__detail input{
  width: 50px;
  text-align: center;
  outline: none;
  border: 1px solid #000;
  background-color: transparent;
  }
  
 .input__group__detail button{
  border: 1px solid #000;
  background-color: transparent;
  width: 25px;
  }

/* Footer */

footer{
  width: 100%;
  height: 200px;
  background-color: #091727;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

footer a{
  text-decoration: none;
  color: #e0e2e6;
  margin: 10px;
}

footer a:hover{
  color: #91a0bb;
}

/****aside****/

.aside__home{
  position: fixed;
  left: 0px;
  top: 85px;
  width: 100%;
  min-height: 100vh;
  background-color: #eee3cfbe;
  backdrop-filter: blur(5px);
  z-index: 2000;
  transition: all 1s ease-in-out;
}

.aside__home2{
  left:-400px;
   opacity: 0;
  z-index:-1

}

.aside__home i {
  cursor: pointer;
}

.aside__head{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.aside__head i{
  font-size: 20px;
  color: tomato;
}

.formFilters{
  border-top: #000 1px solid;
  height: 0px;
  overflow: hidden;
  transition: all 1s ease-in;
}

.btnCategories__container{
  border-top: #000 1px solid;
  height: 0px;
  overflow: hidden;
  transition: all 1s ease-in;
}

.session__start {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e2e6;
}

.session__start .session__info{
  height: 200px;
  width: 200px;
  background-color: #9ba5b4;
  box-shadow: 2px 2px 10px #0000007e;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.session__start .session__info button{
  border: none;
  outline: none;
  padding: 5px;
  width: 100px;
  margin-top: 10px;
  border-radius: 5px;
}

@media only screen and (min-width: 600px) {
  .navBar i{
    font-size: 25px;
  }  
}

@media only screen and (min-width: 900px) {

  .btn__filter{
    display: none;
  }

  .bxs-aside{
    display: none;
  }

  .aside__home{
    position: sticky;
    z-index: 1;
    float: left;
    left: 0px;
    top: 95px;
    width:240px;
    height: 100vh;
    background-color: white;
  }
  .aside__home i {
    cursor: pointer;
  }
  .aside__head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  }
  .aside__head h3{
    font-size: 20px;
  }
  .aside__head i{
    font-size: 20px;
  } 
  .aside-price h3{
    font-size: 20px;
  }
  .aside-categories h3{
    font-size: 20px;
  }
  .container__img__purchases{
    height: 100px;
  }
  .card__container{
    width: 40%;
  }
}
